@model List<YuHan.CabsBooking.ApplicationCore.Models.Response.BookingResponseModel>

@{
    ViewData["Title"] = "Booking Page";
}


<div>
    <h1 style="display:inline-block; margin:10px">
        @ViewData["Title"]
    </h1>
    <a asp-controller="Booking" asp-action="Add" class="btn btn-primary btn-sm">Add</a>
    <a asp-controller="Booking" asp-action="Update" class="btn btn-primary btn-sm">Update</a>
    <a asp-controller="Booking" asp-action="Delete" class="btn btn-primary btn-sm">Delete</a>
</div>

<div class="rounded">
    <div class="container-fluid bg-light">
        
        <h6 class="list-group-item">ID | Date | Bookingtime | address | pickupTime | From | To | CarType  </h6>

        <div class="list-group">
            @foreach (var booking in Model)
            {
                <a class="list-group-item">@booking.Id | @booking.BookingDate.ToString().Substring(0,9) | @booking.BookingTime | 
                @booking.PickUpAddress | @booking.PickupTime | @booking.PickUpCity | @booking.DestinationCity | @booking.CarMake </a>
            
            }

        </div>


    </div>
</div>
