@model List<YuHan.CabsBooking.ApplicationCore.Models.Response.BookingHistoryResponseModel>

@{
    ViewData["Title"] = "Booking History Page";
}


<div>
    <h1 style="display:inline-block; margin:10px">
        @ViewData["Title"]
    </h1>
    <a asp-controller="BookingHistory" asp-action="Add" class="btn btn-primary btn-sm">Add</a>
    <a asp-controller="BookingHistory" asp-action="Update" class="btn btn-primary btn-sm">Update</a>
    <a asp-controller="BookingHistory" asp-action="Delete" class="btn btn-primary btn-sm">Delete</a>
</div>

<div class="rounded">
    <div class="container-fluid bg-light">

        <h6 class="list-group-item">ID | Date | Bookingtime | address | pickupTime | From | To | CarType | CompTime | Charge | Feedback </h6>

        <div class="list-group">
            @foreach (var bookingHistory in Model)
            {
            <a class="list-group-item">
                @bookingHistory.Id | @bookingHistory.BookingDate.ToString().Substring(0, 9) | @bookingHistory.BookingTime |
                @bookingHistory.PickUpAddress | @bookingHistory.PickupTime | @bookingHistory.PickUpCity | @bookingHistory.DestinationCity | @bookingHistory.CarMake |
                @bookingHistory.CompTime | @bookingHistory.Charge | @bookingHistory.Feedback
            </a>

            }

        </div>


    </div>
</div>
